@model DemoProject.Models.Domain.Mobile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>choco</h4>
    <hr />
    <dl class="dl-horizontal">
         <dt>
            @Html.DisplayNameFor(model => model.MobileId)
        </dt>
         <dd>
            @Html.DisplayFor(model => model.MobileId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MobileName)
        </dt>
         <dd>
            @Html.DisplayFor(model => model.MobileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Catogery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Catogery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

         <td>
                @{
                    string photoPath = "~/images/" + @Model.Photopath;
                }
                <img src=@photoPath asp-append-version="true" width="500px" height ="500px" />
            </td>
        @* <dt>
            @Html.DisplayNameFor(model => model.Photopath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photopath)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MobileId }) |
    @Html.ActionLink("Back to List", "Lists")
</p>
